<mat-sidenav-container class="lotus-sidenav-container" autosize>
  <mat-sidenav #sidenav class="lotus-sidenav" mode="side" opened="true">
    <mat-nav-list>

      <mat-list-item (click)="sideExpanded = !sideExpanded" fxLayout="row">

        <div *ngIf="!sideExpanded" fxFlexOrder="1">
          <button mat-icon-button mat-raised-button color="accent">
            <mat-icon>menu</mat-icon>
          </button>
        </div>

        <div *ngIf="sideExpanded" fxFlexOrder="2">
          <button mat-icon-button mat-raised-button>
            <mat-icon>clear</mat-icon>
          </button>
        </div>

        <div *ngIf="sideExpanded" fxFlexOrder="3" style="margin-left: 15px;">
          <p matLine class="mat-headline">
            <!-- <img src="../assets/lotus_vector.svg" style="width: 30px; height: inherit; vertical-align: text-bottom;" /> -->
            trade<span class="trading-title">::lotus</span>
          </p>
        </div>

      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        <p matLine *ngIf="sideExpanded">Home</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>person</mat-icon>
        <p matLine *ngIf="sideExpanded">Profile</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>bookmarks</mat-icon>
        <p matLine *ngIf="sideExpanded">Bookmarks</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>settings</mat-icon>
        <p matLine *ngIf="sideExpanded">Account</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>desktop_windows</mat-icon>
        <p matLine *ngIf="sideExpanded">
          <span fxHide fxShow.xs>extra small</span>
          <span fxHide fxShow.sm>small</span>
          <span fxHide fxShow.md>medium</span>
          <span fxHide fxShow.lg>large</span>
          <span fxHide fxShow.xl>extra large</span>
        </p>
      </mat-list-item>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="lotus-app">

      <!-- BEGIN TOOLBAR -->
      <mat-toolbar class="lotus-toolbar">
        <div fxLayout="row" fxLayoutAlign="center" class="toolbar-content">
          <div fxFlex="100" fxFlex.lg="85" fxFlex.xl="75">

            <!-- BEGIN SEARCH (MID) -->
            <div fxFlex="70" class="search-section">
              <mat-form-field color="accent" floatLabel="never">
                <input matInput placeholder="Search..." />
              </mat-form-field>
            </div>
            <!-- END SEARCH (MID) -->

            <!-- BEGIN ACCOUNT (RIGHT) -->
            <div fxFlex="30" fxHide.lt-md class="account-section">
              <button mat-flat-button color="accent">
                <mat-icon>create</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>notifications</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>person</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>settings</mat-icon>
              </button>
            </div>
            <!-- END ACCOUNT (RIGHT) -->
          </div>
        </div>
      </mat-toolbar>
      <!-- END TOOLBAR -->

      <!-- BEGIN DASHBOARD CONTENT -->
      <div fxLayout="row" fxLayoutAlign="center" class="dashboard-content">
        <div fxFlex="100" fxFlex.lg="85" fxFlex.xl="75">
          <!-- BEGIN MENU SECTION-->
          <div fxHide fxFlex="25" fxHide.xs fxFlex.lt-md="35" class="menu-section">
            <div class="user-menu">
              <mat-card>
                <mat-card-header>
                  <div mat-card-avatar [ngClass]="user.avatar"></div>
                  <mat-card-title class="proper-name">{{ user.firstName + ' ' + user.lastName }}</mat-card-title>
                  <mat-card-subtitle class="tag-name">@{{ user.tag }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <mat-divider></mat-divider>
                  <mat-list>
                    <!--User/Personal/Account-->
                    <h3 matSubheader>Your Account</h3>
                    <mat-list-item>
                      <mat-icon mat-list-icon>home</mat-icon>
                      <h4 mat-line>Home</h4>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon mat-list-icon>person</mat-icon>
                      <h4 mat-line>Profile</h4>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon mat-list-icon>bookmarks</mat-icon>
                      <h4 mat-line>Bookmarks</h4>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon mat-list-icon>settings</mat-icon>
                      <h4 mat-line>Account</h4>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <!--User/Personal-->

                    <!--Markets-->
                    <h3 matSubheader>Markets</h3>
                    <mat-list-item>
                      <mat-icon mat-list-icon>trending_up</mat-icon>
                      <h4 mat-line>Movers</h4>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon mat-list-icon>public</mat-icon>
                      <h4 mat-line>News</h4>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon mat-list-icon>equalizer</mat-icon>
                      <h4 mat-line>Research</h4>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon mat-list-icon>linear_scale</mat-icon>
                      <h4 mat-line>Timeline</h4>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <!--Markets-->

                    <!--Social-->
                    <h3 matSubheader>Social</h3>
                    <mat-list-item>
                      <mat-icon mat-list-icon>whatshot</mat-icon>
                      <h4 mat-line>Popular</h4>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon mat-list-icon>group</mat-icon>
                      <h4 mat-line>Groups</h4>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon mat-list-icon>mail</mat-icon>
                      <h4 mat-line>Messages</h4>
                    </mat-list-item>
                    <!--Social-->
                  </mat-list>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <!-- END MENU SECTION -->

          <!-- BEGIN FEED SECTION -->
          <div fxFlex="70" class="feed-section">
            <div class="feed-container">
              <div *ngFor="let item of userFeed">
                <!-- BEGIN FEED ITEM -->
                <div class="feed-item">
                  <mat-card>
                    <mat-card-header>
                      <div mat-card-avatar [ngClass]="item.avatar"></div>
                      <mat-card-title>{{ item.firstName }}</mat-card-title>
                      <mat-card-subtitle>@{{ item.tag }}</mat-card-subtitle>
                      <div fxFlex></div>
                      <div fxLayout="column" class="feed-item-vote">
                        <button (click)="upvotePost(item)" mat-icon-button class="feed-item-vote">
                          <mat-icon [ngClass]="item.upvoted && 'action-green'">trending_up</mat-icon>
                        </button>
                        <button (click)="downvotePost(item)" mat-icon-button class="feed-item-vote">
                          <mat-icon [ngClass]="item.downvoted && 'action-red'">trending_down</mat-icon>
                        </button>
                      </div>
                    </mat-card-header>

                    <mat-card-content>
                      <p>{{ item.contents }}</p>
                    </mat-card-content>

                    <mat-card-actions>
                      <button mat-button>{{ item.commentCount }} comments</button>
                      <div fxFlex></div>
                      <button
                        (click)="bookmarkPost(item)"
                        matTooltip="Bookmark"
                        matTooltipClass="action-tooltip"
                        matTooltipPosition="below"
                        mat-icon-button
                        class="feed-item-action"
                      >
                        <mat-icon [ngClass]="item.bookmarked && 'action-green'">bookmark</mat-icon>
                      </button>
                      <button
                        (click)="followPost(item)"
                        matTooltip="Follow"
                        matTooltipClass="action-tooltip"
                        matTooltipPosition="below"
                        mat-icon-button
                        class="feed-item-action"
                      >
                        <mat-icon [ngClass]="item.followed && 'action-green'">visibility</mat-icon>
                      </button>
                      <button
                        (click)="sharePost(item)"
                        matTooltip="Share"
                        matTooltipClass="action-tooltip"
                        matTooltipPosition="below"
                        mat-icon-button
                        class="feed-item-action"
                      >
                        <mat-icon [ngClass]="item.shared && 'action-green'">repeat</mat-icon>
                      </button>
                    </mat-card-actions>
                  </mat-card>
                </div>
                <!-- END FEED ITEM -->
              </div>
            </div>
          </div>
          <!-- END FEED SECTION -->

          <!-- BEGIN TRENDING SECTION -->
          <div fxFlex="30" fxHide.lt-md class="trend-section">
            <h2 class="mat-title trend-title">Trending</h2>
            <div class="trend-item">
              <mat-card>
                <mat-card-content>
                  <div class="trend-item-chart">
                    <ngx-charts-line-chart
                      [view]="lineChartOptions.view"
                      [results]="stockChart"
                      [scheme]="lineChartOptions.scheme"
                      [schemeType]="lineChartOptions.schemeType"
                      [customColors]="lineChartOptions.customColors"
                      [animations]="lineChartOptions.animations"
                      [rangeFillOpacity]="lineChartOptions.rangeFillOpacity"
                      [legend]="lineChartOptions.legend"
                      [legendTitle]="lineChartOptions.legendTitle"
                      [legendPosition]="lineChartOptions.legendPosition"
                      [xAxis]="lineChartOptions.xAxis"
                      [yAxis]="lineChartOptions.yAxis"
                      [showGridLines]="lineChartOptions.showGridLines"
                      [roundDomains]="lineChartOptions.roundDomains"
                      [showXAxisLabel]="lineChartOptions.showXAxisLabel"
                      [showYAxisLabel]="lineChartOptions.showYAxisLabel"
                      [xAxisLabel]="lineChartOptions.xAxisLabel"
                      [yAxisLabel]="lineChartOptions.yAxisLabel"
                      [trimXAxisTicks]="lineChartOptions.trimXAxisTicks"
                      [trimYAxisTicks]="lineChartOptions.trimYAxisTicks"
                      [maxXAxisTickLength]="lineChartOptions.maxXAxisTickLength"
                      [maxYAxisTickLength]="lineChartOptions.maxYAxisTickLength"
                      [xAxisTickFormatting]="lineChartOptions.xAxisTickFormatting"
                      [yAxisTickFormatting]="lineChartOptions.yAxisTickFormatting"
                      [xAxisTicks]="lineChartOptions.xAxisTicks"
                      [yAxisTicks]="lineChartOptions.yAxisTicks"
                      [timeline]="lineChartOptions.timeline"
                      [autoScale]="lineChartOptions.autoScale"
                      [curve]="lineChartOptions.curve"
                      [gradient]="lineChartOptions.gradient"
                      [activeEntries]="lineChartOptions.activeEntries"
                      [tooltipDisabled]="lineChartOptions.tooltipDisabled"
                      [referenceLines]="lineChartOptions.referenceLines"
                      [showRefLines]="lineChartOptions.showRefLines"
                      [showRefLabels]="lineChartOptions.showRefLabels"
                      [xScaleMin]="lineChartOptions.xScaleMin"
                      [xScaleMax]="lineChartOptions.xScaleMax"
                      [yScaleMin]="lineChartOptions.yScaleMin"
                      [yScaleMax]="lineChartOptions.yScaleMax"
                    >
                    </ngx-charts-line-chart>
                  </div>
                  <p style="text-align: center;">
                    <span class="stock-ticker">{{ stockSymbol }}</span> {{ formatPrice() }}
                    <span [ngClass]="stockGreen ? 'action-green' : 'action-red'">{{ formatChange() }}</span>
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
            <h2 class="mat-title trend-title">Following</h2>
            <div class="trend-item">
              <mat-card></mat-card>
            </div>
            <div class="trend-item">
              <mat-card></mat-card>
            </div>
            <div class="trend-item">
              <mat-card></mat-card>
            </div>
            <h2 class="mat-title trend-title">Your Moves</h2>
            <div class="trend-item">
              <mat-card></mat-card>
            </div>
            <div class="trend-item">
              <mat-card></mat-card>
            </div>
          </div>
          <!-- END TRENDING SECTION -->
        </div>
      </div>
      <!-- END DASHBOARD CONTENT -->
    </div>

    <div *ngIf="showThemeControls" class="theme-controls">
      <button (click)="toggleTheme()" mat-fab>
        <div *ngIf="darkTheme">
          <mat-icon>wb_sunny</mat-icon>
        </div>
        <div *ngIf="!darkTheme">
          <mat-icon>brightness_3</mat-icon>
        </div>
      </button>

      <!--
      <button (click)="toggleSidenav()" mat-fab>
        <div *ngIf="sideExpanded">
          <mat-icon>dashboard</mat-icon>
        </div>
        <div *ngIf="!sideExpanded">
          <mat-icon>chrome_reader_mode</mat-icon>
        </div>
      </button>
      -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
