@import '~@angular/material/theming';
@include mat-core();

/* ------------------- DARK THEME ------------------------------------ */

// custom palette definitions

// main swatch initializations (primary, accent, warn)
$dark-primary: mat-palette($mat-deep-purple);
$dark-accent: mat-palette($mat-green, A200, A100, A400);
$dark-warn: mat-palette($mat-red);

// dark theme initialization
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.lotus-dark-theme {

  // theme import
  @include angular-material-theme($dark-theme);

  // miscellaneous global app styles:
  .lotus-toolbar {
    background-color: transparent;
    border-bottom-color: #64ffda;
  }

  .toolbar-icon {
    color: #64ffda;
  }
  /*.search-button {
    background-color: #64ffda;
  }*/
  .action-tooltip {
    margin: 0;
  }
}

/* ------------------- LIGHT THEME ------------------------------------ */

// light theme
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent);

.lotus-light-theme {
  @include angular-material-theme($candy-app-theme);

  .lotus-toolbar {
    background-color: transparent;
    border-bottom-color: #3f51b5;
  }

  .toolbar-icon {
    color: #3f51b5;
  }
  .action-tooltip {
    margin: 0;
  }
}

/* ----------------- REAL CUSTOM THEMES ------------------- */

html,
body {
  margin: 0;
  padding: 0;
}
